body {
    background-color: #fef3e9;
    margin: 1rem;
}

nav.nav-bar {
    background-color: #f68b1f;
}

nav.nav-bar a {
    background-color: #220407;
    color: #ffff;
    padding: 1em;
    display: inline-block;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    transition: all ease 300ms;
    border-radius: 1rem;
    margin: 0.3rem;
}

nav.nav-bar a:hover {
    background-color: rgb(221, 182, 130);
}

.description p {
    line-height: 1.8rem;
}

h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

h3, h2 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

h3 strong, h2 strong {
    font-weight: 800;
}

#images-and-desc {
    margin: 0.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 0.4rem;
}

.card {
    display: grid;
    border: 2px solid #f68b1f84;
    border-radius: 1rem;
    grid-template-rows: max-content 30px 1fr;
    background-color: #ffff;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.89rem;
    border-top-right-radius: 0.89rem;
}

.card h3 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.card p {
    max-width: 95%;
}

.card p, .card a {
    padding: 0.5rem;
}

.card a {
    background-color: #220407;
    color: #ffff;
    text-decoration: none;
    font-family: sans-serif;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.animal-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description {
    font-size: larger;
    font-family: sans-serif;
    max-width: 50%;
    margin-bottom: 2rem;
}

.demographic-info {
    display: grid;
}

.demographic-info img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.sidebar {
    background-color: #ffff;
    border: 2px solid #f68b1f84;
    border-radius: 0.5rem;
    display: block;
    width: 25rem;
    align-self: flex-end;
    font-size: large;
}

.sidebar-info, .sidebar h3 {
    padding-inline: 0.5rem;
}

.sidebar img {
    object-fit: cover;
    border-top-left-radius: 0.38rem;
    border-top-right-radius: 0.38rem;
    width: 100%;
    height: 100%;
}

aside h3 {
    /* background-color: #ffe5cd5c; */
    background-color: #f68b1f84;
    display: block;
    padding: 0.6rem;
    margin-top: -0.5rem;
    font-weight: 800;
    text-align: center;
}